
<div class="login_top">
  <div class="login_header">
    <a href="/" class="top_logo" title="bow 메인화면으로 가기"><img src="/images/top_logo.png" width="196" height="27" alt="bow" ></a>
  </div>
</div>
<div class="login_body">
  <div class="login_welcome_text">
    <p>트위터 또는 페이스북으로 로그인 하신 후<br/>의견을 나누세요! BOWOWOO~</p>
  </div>
  <div class="login_btn_wrap">
    <a href="/auth/twitter?redirect_url=<%=@redirect_url%>" ><img src="/images/login_twitter.png" width="220" height="273" alt="twitter" ></a>
    <a href="/auth/facebook?redirect_url=<%=@redirect_url%>" ><img src="/images/login_facebook.png" width="220" height="273" alt="facebook" ></a>
  </div>
  <div class="login_footer">
    <img src="/images/copyright.png" width="277" height="21" alt="copyright" >
  </div>
</div>
                                      <!-- <ul>
	<li><a href="/auth/twitter?redirect_url=<%=@redirect_url%>">트위터로 인증</a></li>
	<li><a href="/auth/facebook?redirect_url=<%=@redirect_url%>">페이스북으로 인증</a></li>
</ul> -->
