<form action="/signup" method="post">
	<input type="text" name="email" value="<%=@email%>" placeholder="email" /><br />
	<input type="text" name="nickname" value="<%=@screen_name%>" placeholder="nickname" /><br />
	<input type="submit" value="정보입력" />
</form>
