<form action="/signup" method="post">
	<input type="text" name="email" value="<%=@email%>" placeholder="email" /><br />
	<input type="text" name="nickname" value="<%=@nickname%>" placeholder="nickname" /><br />
	<input type="hidden" name="redirect_url" value="<%=@redirect_url%>"><br />
	<input type="submit" value="정보입력" />
</form>
