<!--h2>채팅방</h2>
<input type="hidden" id="myName" value="<%=@nickname%>" />
<input type="hidden" id="myRoom" value="<%=@kennel_id%>" />
<div id="chat" style="overflow-y:scroll;width:400px;height:200px;border:1px solid black;"></div>

<form>
	<input id="message" type="text" style="width:300px;">
	<input type="submit" value="send">
</form>



<script src="http://seoho.me:8000/socket.io/socket.io.js"></script>
<script src="/javascripts/bark.js"></script-->


<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0-beta.1/jquery.mobile-1.3.0-beta.1.min.css" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
<style type="text/css">
  * {font-family: 'Nanum Gothic', sans-serif;}
  .profile {float:left;margin:0;-webkit-border-radius:50em}
  .header {height:36px;opacity:0.9}

  .header .ui-title {margin-left:9px;width:270px}
  .header .right_btn {margin-top:-3px;padding:5px;width:25px;}
  .header .profile {}
  .header .extended_info .time_info {font-size:28px;text-align:center}
  .header .extended_info .user_list {float:left;border-top:1px solid #000;margin-top:18px;width:100%;}
  .header .extended_info .user_list ul {float:left;margin-top:0;padding:12px}
  .header .extended_info .user_list li {float:left;margin-right:5px;}
  .header .extended_info .user_count {float:left;margin-top:18px;}
  .header .extended_info .user_count span {color:#15aeff}
  .header .extended_info .users {float:right;margin-top:11px;margin-right:5px;}


  .chat_list li {overflow:hidden;background-color:#fff;border-top-width:0;}
  .chat_list .profile {}
  .chat_list .bl .chatter_wrapper div {float:right}
  .chat_list .wh .chatter_wrapper div {float:left}
  .chat_list .chatter_wrapper .chatter_info {display:block;font-size:10px;color:#cecfd2;clear:both;}
  .chat_list .bl .chatter_wrapper .chatter_info {text-align:right;padding-right:14px;}
  .chat_list .wh .chatter_wrapper .chatter_info {text-align:left;padding-left:14px;}
  .chat_list .chatter_wrapper .chatter {float:left;line-height:20px;padding:0 4px;border-radius:6px}
  .chat_list .bl .chatter_wrapper > div:nth-child(2) > div:nth-child(1) {background:url('/images/speech_bubble_right.png') no-repeat;background-size:8px 6px;background-position:116px 9px;margin-bottom:3px}
  .chat_list .wh .chatter_wrapper > div:nth-child(2) > div:nth-child(1) {background:url('/images/speech_bubble_left.png') no-repeat;background-size:8px 6px;background-position:3px 9px;margin-bottom:3px}
  .chat_list .bl .chatter {margin:0 10px 0 0;background:#90909a;color:#fff;text-shadow:none;}
  .chat_list .wh .chatter {margin:0 0 0 10px;background:#f3f3f3;color:#000;}


  .input_btn {margin:4px 0 0 10px}
  .input_window {/*float:left;*/width:205px}
  .footer {padding-left:7px;padding-right:4px;}
  .input_wrapper {float:left;width:78%}
  .footer > .ui-btn {margin:13px 0 0 10px;}
  //body {-webkit-overflow-scrolling: touch;} 
  .share_menu {height:30px;background:#c1c1c1;box-shadow:inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;}
  .share_menu > span {float:left;display:block}
  .share_menu .ui-btn {float:right;margin-top:0px;}
</style>



<div class="ui-responsive-panel" data-role="page">
  <div id="leftPanel" data-role="panel">
    <div>
      B
    </div>
  </div>
  <div id="rightPanel" data-role="panel" data-position="right">
    <div>
      W
    </div>
  </div>


  <div class="header" data-role="header" data-position="fixed" data-tap-toggle="false">
    <h1>사면권은 대통령의 당연한 권리인가? 여러분은 사면권을 어떻게 생각하시나요?</h1>
    <!--a href="#" class="left_panel" data-role="button" data-icon="bars" data-mini="true">B</a-->
    <!--a href="#sharePopup" class="left_panel" data-rel="popup" data-position-to="window" data-icon="bars" data-mini="true">B</a>
    <div data-role="popup" class="photopopup" id="sharePopup">
      popup
    </div-->
    <a href="#" class="right_btn fold ui-btn-right" data-role="none"><img src="/images/top_arrow_down.png" width="27" height="27" alt="" /></a>
    <div class="extended_info" style="display:none">
       <div class="time_info">
         01:36분 대화중 ;]
       </div>
       <div class="user_list">
         <ul>
           <li><img class="profile" width="30" height="30" src="/images/pic.jpeg" alt="" /></li>
           <li><img class="profile" width="30" height="30" src="/images/pic.jpeg" alt="" /></li>
           <li><img class="profile" width="30" height="30" src="/images/pic.jpeg" alt="" /></li>
           <li><img class="profile" width="30" height="30" src="/images/pic.jpeg" alt="" /></li>
         </ul>
         <div class="user_count">
           외 <span>345</span>명
         </div>
         <a class="users" href="#" data-role="button" data-mini="true">전체보기</a>
       </div>
    </div>
  </div>
  <div data-role="content">
    <ul class="chat_list" data-role="listview">


    </ul>
  </div>
  <div class="footer" data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="c">
    <div class="input_wrapper" data-role="fieldcontain">
      <label for="input" class="ui-hidden-accessible">대화입력</label>
      <input class="input_window" type="text" name="input" value=""  /> 
    </div>
    <button class="input_btn">입력</button>
  </div>
</div>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/mobile/1.3.0-beta.1/jquery.mobile-1.3.0-beta.1.js"></script>
<script src="http://seoho.me:8000/socket.io/socket.io.js"></script>
<script type="text/javascript">
$(document).bind('pageinit', function() {

  //$(document.body).css('min-height', window.innerHeight + 41 + 'px');
  //$('html, body').animate({scrollTop: $(document.body).height()}, 1000);
  $('.left_panel').on('click', function() {
    //$('#leftPanel').panel('open');
  });
  $('.right_panel').on('click', function() {
    $('#rightPanel').panel('open');
  });
  $('.right_btn').on('click', function() {
    if ( $(this).hasClass('fold') ) {
      $(this).removeClass('fold');
      $('.header').height(164);
      $('.extended_info').show();
      $('.header > .ui-title').css('white-space', 'normal');
    } else {
      $(this).addClass('fold');
      $('.header').height(36)
      $('.extended_info').hide();
      $('.header > .ui-title').css('white-space', 'nowrap');
    }
  });

  $('sharePopup').on({
    popupbeforeposition: function() {
       var maxHeight = $( window ).height() - 60 + "px";
       $( "sharePopup img" ).css( "max-height", maxHeight );
    }
  });

  $('.chat').on('click', function(){
    //$(this).next().toggle();
  });
  $('.input_window').on('click', function() {
    //$(this).fixedtoolbar('updatePagePadding');
    //$('html, body').animate({scrollTop: $(document).height()}, 'slow');
    //return false;
  });
  $('.input_window').on('keypress', function(e) {
    if (e.keyCode === 13) {
      submit_text(this);
    }
  });
  $('.input_btn').on('click', function(e) {
    submit_text(this);
  });

});



function socketInit(config) {
  var socket = io.connect(config.connectTo || 'http://localhost');

  var chatWindow = config.chatWindow || $('#chat');
  var messageBox = config.messageBox || $('#message');
  var myName = '<%=@nicknamex%>';
  var myRoom = '<%=@kennel_id%>';


  var chatStr = function(msg, profile) {
  return '<li class="chat bl">'
    + '<div class="chatter_wrapper">'
      + '<div>'
        + '<img src="/images/pic.jpeg" class="profile" alt="" />'
      + '</div>'
      + '<div>'
        + '<div>'
          + '<p class="chatter">' + msg + '</p>'
        + '</div>'
        + '<span class="chatter_info">이상 2분전</span>'
      + '</div>'
    + '</div>'
  + '</li>';
  };



  var showMessage = function(msg, m) {
    console.log(msg);
    chatWindow.append($(chatStr(m)));     
    chatWindow.listview('refresh');
    chatWindow.scrollTop(chatWindow.height());
  }

  socket.on('connect', function() {
    //socket.emit('join', {roomName:$('#roomName').text(), nickName:myName}); 
  });

  socket.on('joined', function(data) {
    if(data.isSuccess) {
      showMessage(data.nickName + '님이 입장하셨습니다.');
    }
  });

  socket.on('leaved', function(data) {
        showMessage(data.nickName + '님이 나가셨습니다.');
     });

  socket.on('message', function(data) {
    showMessage(data.nickName + ' : ' + data.msg); 
  });

  window.submit_text = function(t) {
    var msg = messageBox.val();
    console.log('>>', msg);
    if ($.trim(msg) !== '') {
      showMessage(myName + ' : ' + msg, msg);
      socket.json.send({nickName:myName, msg:msg});
      messageBox.val('');
    }

  }

  $('form').submit(function(e) {
    console.log("k");
    e.preventDefault();
    var msg = messageBox.val();
    console.log('>>', msg);
    if ($.trim(msg) !== '') {
      showMessage(myName + ' : ' + msg);
      socket.json.send({nickName:myName, msg:msg});
      messageBox.val('');
    }
  });
  $('#joinBtn').click(function(e) {
    console.log(myRoom);
    socket.emit('join', {roomName:myRoom, nickName:myName});
    //location.href='/';
  });
  $('#leaveBtn').click(function(e) {
    socket.emit('leave', {nickName:myName});
    //location.href='/';
  });
  $('#saveBtn').click(function(e) {
    myRoom = $('#myRoom').val();
    myName = $('#myName').val();
    console.log(myRoom, myName);		
    //location.href='/';
  });
};

socketInit({
  connectTo: 'http://seoho.me:8000/chat',
  chatWindow: $('.chat_list'),
  messageBox: $('.input_window')
});

</script>







